body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 560px;
    background-color: #142937;
}

.content {
    width: 1040px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top .logo {
    font-size: 20px;
    font-weight: 900;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: white;
}

.header-top .links {
    font-size: 15px;
}

.header ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-body {
    height: 496px;
    display: flex;
}

.header-body .left {
    width: 520px;
    height: 240px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
}

.header-body .left h1 {
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.header-body .left h3 {
    margin: 8px 0px;
    font-size: 16px;
    color: #e5e7eb;
    font-weight: 100;
    width: 500px;
}

.header-body .left button {
    font-size: 16px;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: 800;
}

.header-body .right {
    background-color: grey;
    width: 520px;
    height: 240px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section1 {
    display: flex;
    background-color: #fff;
    height: 500px;
    flex-grow: 0;
}

.section1 .title {
    color: black;
    font-size: 40px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 140px;
}

.section1 .body {
    height: 360px;
    display: flex;
    justify-content: center;
    gap: 49px;
}

.section1 .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 164px;
}

.section1 img {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    border: 4px solid #3b82f6;
}

.section1 .text {
    margin-top: 5px;
    padding: 0px 8px;
    text-align: center;
    color: grey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.section2 {
    display: flex;
    background-color: #e5e7eb;
    height: 430px;
    flex-grow: 0;
}

.section2 em {
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 34px;
    color:darkslategray;
    padding: 0px 128px;
    margin-top: 100px;
    display: block;
    font-weight: 100;
}

.section2 strong {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #3a3a3a;
    padding: 0px 128px;
    margin-top: 10px;
    font-weight: 900;
    text-align: right;
}

.section3 {
    display: flex;
    background-color: #fff;
    height: 350px;
    flex-grow: 1;
}

.section3 .card {
    height: 150px;
    width: 784px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: #3b82f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

.section3 strong {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
}

.section3 .text{
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 15px;
}

.section3 button {
    padding: 4px 32px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #00000000;
    
}

.section3 a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.footer {
    background-color: #142937;
    height: 100px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}